@import url('https://fonts.googleapis.com/css?family=Patrick+Hand:400|Pontano+Sans:400');

:root {
    --headingColor: hsl(133, 98%, 40%);
}
html {font-size: 20px;}

body {
}

p {margin-bottom: 1.25em;}

h1, h2, h3, h4, h5 {
  margin: 2.75rem 0 1rem;
  font-family: 'Patrick Hand', cursive;
  font-weight: 400;
  line-height: 1.15;
  color: var(--headingColor);
}

h1 {
  margin-top: 0;
  font-size: 3.052em;
}

h2 {font-size: 2.441em;}

h3 {font-size: 1.953em;}

h4 {font-size: 1.563em;}

h5 {font-size: 1.25em;}

small, .text_small {font-size: 0.8em;}






body {
    font-family: 'Pontano Sans', 'segoe ui', sans-serif;
    font-weight: 400;
    line-height: 1.45;
      color: #252525;
    background-color: lavender;
    margin: 0;
    min-height: 100%;
}

.container {
    background-color: rgb(253, 208, 249);
}

.sitename {
    margin-bottom: 1em;
}
main {
    min-height: calc(100vh - 350px);
    padding: 2em;
}


footer,
header {
    background-color: hsl(216, 100%, 50%);
    padding: 30px;
}

header nav {
    background-color: hsl(286, 87%, 69%);
    padding: .001em;
    /* border-radius: 14px; */
}

header nav ul {
    list-style-type: none;
    padding: 0 14px;
    display: flex;
    justify-content: space-between;
}

footer a,
header a,
footer a:link,
header a:link,
footer a:visited,
header a:visited {
    color: #fff;
    text-decoration: none;
}

pre {
    padding: 0.5em;
}

.container {
min-height: 100vh;
display: grid;
}
.page404 {
    /* width: 40%; */
    display: inline-block;
    margin: auto;
    padding: 2em 5em;
    border-radius: 40px;
    color: #fff;
    background-color: hsl(216, 100%, 50%);
}
.page404>* {
    margin: 0;
    text-align: center;
}