@import url('https://fonts.googleapis.com/css?family=Playball:400|Poly:400');

:root {
    --headingColor: #02ca2d;
    --headerColor: rgb(38, 38, 39);
    --headbg: #a1977a;
    --menubg: #726b58;
    --bodyColor: #303438;
    --headingFont: 'Permanent Marker', cursive;
}

*, *::before {
    box-sizing: border-box;
}
html {font-size: clamp(15px, 1.4vw, 26px);}


body {
    font-family: 'Roboto Slab', 'segoe ui', sans-serif;
    font-weight: 400;
    line-height: 1.45;
    color: var(--bodyColor);
    background-color: rgb(203, 203, 240);
    margin: 0;
    min-height: 100%;
}

p {margin-bottom: 1.25em;}

p, li, blockquote {
    max-width: 45em;
}

h1, h2, h3, h4, h5 {
  margin: 2.75rem 0 1rem;
  font-family: 'Permanent Marker', cursive;
  font-weight: 400;
  line-height: 1.15;
  color: var(--headingColor);
}

h1 {
  margin-top: 0;
  font-size: 3.052em;
  color: var(--headingColor);
}

h2 {font-size: 2.441em;}

h3 {font-size: 1.953em;}

h4 {font-size: 1.563em;}

h5 {font-size: 1.25em;}

small, .text_small {font-size: 0.8em;}



.container {
    background-color: hsl(49, 34%, 88%);
}

.sitename {
    margin-bottom: 1em;
    font-family: var(--headingFont);
    font-size: 1.5em;
}
main {
    min-height: calc(100vh - 350px);
    padding: 2em;
}


footer,
header {
    color: hsla(0, 0%, 100%, 0.685);
    background-color: var(--headbg);
    padding: 30px;
}

header nav {
    background-color: var(--menubg);
    padding: 1px;
    text-transform: lowercase;
    font-size: clamp(16px, 2.1vw, 32px);
    border-radius: 24px;
}

header nav ul {
    list-style-type: none;
    padding: 0 24px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: space-between;
    line-height: 1;
}

footer a,
header a,
footer a:link,
header a:link,
footer a:visited,
header a:visited {
    color: #fff;
    text-decoration: none;
}

.wordcount {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #aaa;
    margin-top: 1em;
}

pre {
    padding: 0.5em;
}

img {
    max-width: 100%;
}
/* .container {
min-height: 100vh;
display: grid;
} */

.page404 {
    /* width: 40%; */
    display: grid;
    place-content: center;
    height: calc(100vh - 20em);
    margin: 9em;
    padding: 2em 5em;
    border-radius: 40px;
    color: #fee;
    background-color: hsl(216, 100%, 50%);
}
.page404>* {
    margin: 0;
    text-align: center;
    color: #fee;
}

/*  List page styles */

ul.listpage {
    list-style-type: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1em;
}

ul.listpage>li {
    background-color: hsl(46, 41%, 72%);
    border-radius: 20px;
    padding: .5em 1em;
}


.Home img {
    border-radius: 35px;
    filter: grayscale(78%) brightness(140%) contrast(120%);
    mix-blend-mode: multiply;
    opacity: .7;
}