
:root {
    /* --headingColor: #02ca2d; */
    /* --headerColor: rgb(38, 38, 39); */
    --headbg: #a1977a;
    --bodyColor: #303438;
    --bgColor: #fffefd;
    --mainBlocksColor: rgb(152, 141, 131);
    --headingFont: 'Oswald', sans-serif;
    --headingColor: #0effe8;
}

*,
*::before {
    box-sizing: border-box;
}

html {font-size: clamp(1rem, 0.7823rem + 0.9677vw, 1.75rem);}


body {
    font-family: Bitter, georgia, serif;
    font-weight: 400;
    line-height: 1.45;
    background-color: var(--bgColor);
    margin: 0;
    padding-inline: 3vw;
    min-height: 100%;
    /* display: grid; */
    /* justify-content: center; */
}



.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 15px;
    margin-block: 3vw;
    margin-inline: auto;
    width: min(1650px, 100%);
    color: var(--bgColor);
}

.sitename {
    font-family: var(--headingFont);
    letter-spacing: -2px;
    font-size: 2em;
    line-height: 1;
}

main {
    min-height: calc(90vh - 6vw);
    padding: 2em;
    padding-right: 14%;
}

main,
aside {
    background-color: var(--mainBlocksColor);
}

header {
    display: grid;
    align-items: baseline;
}
footer,
header {
    grid-column: 1 / -1;
    color: var(--mainBlocksColor);
}

footer {
    display: flex;
    justify-content: space-between;
    font-family: var(--headingFont);
}

aside nav {
    padding: 1px;
    text-transform: lowercase;
    font-family: var(--headingFont);
    font-size: clamp(16px, 2.1vw, 32px);
    border-radius: 24px;
}

aside nav ul {
    list-style-type: none;
    padding: 0 24px;
    line-height: 1.7;
    text-align: right;
    text-transform: uppercase;
}

aside nav ul a {
color: var(--bgColor);
transition: 0.4s;
}

aside nav ul a:hover {
    color: var(--headingColor);
    border-bottom: 4px solid;
}





/* -------------- NAV  ---------------- */

a {
    text-decoration: none;
}

footer a,
header a,
footer a:link,
header a:link,
footer a:visited,
header a:visited {
    color: var(--mainBlocksColor);
}





/* ---------- FONTS ----------- */


p {margin-bottom: 1.25em;
}

p, li, blockquote {
    max-width: 45em;
}
main p, main li, time, .wordcount, pre, code {
    font-size: .8em;
}

h1, h2, h3, h4, h5 {
  /* margin: 2.75rem 0 1rem; */
  margin-bottom: 0;
  font-family: var(--headingFont);
  font-weight: 400;
  line-height: 1.15;
  color: var(--headingColor);
}

h1 {
  margin-top: 0;
  font-size: 3.052em;
  color: var(--headingColor);
}

h2 {font-size: 2.441em;}

h3 {font-size: 1.953em;}

h4 {font-size: 1.563em;}

h5 {font-size: 1.25em;}

small, .text_small {font-size: 0.8em;}




.wordcount {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid;
    padding-bottom: 0.3em;
    margin-top: 1em;
}

.highlight {
    /* overflow-x: scroll; */
    overflow-x: hidden;
    max-width: 650px;
}
.highlight:hover {
    max-width: 100%;
    cursor: pointer;
}
pre {
    padding: 0.5em;
    white-space: pre-wrap;
}
pre, code {
    font-family: 'Roboto Mono', georgia;
    font-size: 90%;
    color: green;
}

img {
    max-width: 100%;
}


.page404 {
    /* width: 40%; */
    display: grid;
    place-content: center;
    height: calc(100vh - 20em);
    margin: 9em;
    padding: 2em 5em;
    border-radius: 40px;
    color: #fee;
    background-color: hsl(216, 100%, 50%);
}
.page404>* {
    margin: 0;
    text-align: center;
    color: #fee;
}

/*  List page styles */

ul.listpage {
    list-style-type: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-gap: .8vw;
}

ul.listpage>li {
    background-color: rgb(139, 133, 120);
    font-size: 0.75em;
}

ul.listpage > li > a {
    padding: .5em 1em;
    display: block;
    height: 100%;
    /* font-size: 1rem; */
    color: var(--bgColor);
    transition: 0.5s;
}

ul.listpage > li a::first-line {
    font-weight: bold;
}

ul.listpage > li > a time {
    font-size: 0.8em;
    color: var(--headingColor);
    font-family: oswald;
    letter-spacing: 1.1px;
}

ul.listpage > li > a:hover {
    background-color: orangered;
}


.Home img {
    border-radius: 35px;
    filter: grayscale(78%) brightness(140%) contrast(120%);
    mix-blend-mode: multiply;
    opacity: .7;
}

/* ======= MEDIA QUERIES ========== */

@media screen and (max-width: 650px) {
    aside,
    main {
        grid-column: 1 / -1;
    }
    footer>div:last-of-type {
        display: none;
    }
}