
<head>
    {{ hugo.Generator }}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {{ $title := print .Title " | " .Site.Title }}
    {{ if .IsHome }} {{ $title := .Site.Title }}{{ end }}
    <title>{{ $title }}</title>
    {{ partial "head/favicon" . }}
    {{ partial "head/google-fonts" . }}
    
    {{ partial "head/css" . }}
</head>

