{{- define "main" }}
        <main>

            <h1>{{ .Title }}</h1>

            {{ .Content }}


            <!-- This content comes from any _index.md files which are landing pages for specific folders -->
           
            <ul class="listpage">
                {{ range .Pages }}
                <li>
                    <a href="{{.Permalink}}">
                        <strong>{{.Title}}</strong><br>
                    <time>{{ .Date.Format "Mon 2 Jan 06" }}</time>
                    <br>{{ .Summary }}
                    </a>
                </li>
                {{ end }}
            </ul>
        </main>
        {{ end }}